@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "More Sets, More Reps";
}

<div class="row">
    <h2 class="col-sm-12">About Us</h2>
    <div class="col-sm-8">
        <p>
        Here at More Sets, More Reps we strive for excellence from our members.  That is why we now have an app that can provide our members with additional
        information to keep them strong and healthy, even when they can't make it into the gym.
        </p>
        <p>You can track your activities and calories burned</p>
        <p>You can calculate your BMI based on your height and weight</p>
        <p>You can also find exercises you can do at home with your body weight! No equpiment required!</p>
    </div>
    <img src="~/Images/HomeWorkout.jpg" alt="money growing" class="img-fluid rounded-circle"/>
</div>