@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "More Sets, More Reps";
}

<h3>We are here to aid in your success!</h3>

<address>
    <br />48 Healthy Way
    <br /> Traverse City, MI 49686
    <br />231-555-5555
</address>
