@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Welcome";
}
<h2>Welcome to More Sets, More Reps</h2>

<p>We are here to help you succeed!!</p>
<img src="~/Images/gym.jpg" alt="money growing" style="border-radius:20px;width:20%;" />